:root{
    --point-bar-width: 13vw;
}

#meta-data{
    display: flex;
    justify-content: space-around;
}


#the-game-timer{
    --radius: 27px;
    --degree: 0deg;
    width: var(--radius);
    height: var(--radius);
    background-color: white;
    border-radius: var(--radius);
    background: conic-gradient(gray var(--degree), white var(--degree));
}


#the-max-pointer{
    width: var(--point-bar-width);
    background-color: gray;
    border-radius: 9px;
    display: flex;
    flex-direction: row-reverse;
}

#the-game-pointer{
    width: calc(var(--point-bar-width) * (var(--current-points)/var(--max-points)));
    max-width: var(--point-bar-width);
    background-color: rgb(222, 178, 49);
    height: 100%;
    border-radius: 9px;
}


#game-core {
    width: 80%;
    height: 300px;
    margin: 20px auto;
    border: 5px solid #3498db;
    border-radius: 12px;
    box-shadow: 0 0 20px 5px #1d4661;
    background-color: #bdbaba;
    overflow-y: scroll;
    scrollbar-width: none;
}

#sandwitch{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sandCont{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


#button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
}


.action-btn {
    flex: 1;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
}




/* Specific button colors */
.action-btn{
    background-color: var(--color); 

}


.action-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.action-btn:active {
    transform: scale(0.95);
}

/* ------------------------- */

#upper-bread {
    width: 100px;
    height: 30px;
    background: #e3a32d;
    border-radius: 40px 40px 0 0;
}

#lettuce {
    width: 120px;
    height: 10px;
    background: #8ad43f;
    border-radius: 10px;
}

#tomate{
    width: 100px;
    height: 20px;
    background: #c22f33;
    border-radius: 5px;
}

#cheese{
    width: 110px;
    height: 10px;
    background: #edd72d;
    border-radius: 10px;
}

#meat{
    width: 105px;
    height: 25px;
    background: #4f2e1c;
    border-radius: 10px;
}

#down-bread{
    width: 100px;
    height: 20px;
    background: #e3a32d;
    border-radius: 0 0 20px 20px;
}